@{
}

@model Burialmain


<div class="card card-outline-primary m-1 p-1">
    <div class="bg-light p-1">
        <h4>ID: @Model.Id</h4>
    </div>

    <ul>
        <li>AgeAtDeath: @Model.Ageatdeath</li>
        <li>Sex: @Model.Sex</li>
        <li>Text: @Model.Text</li>
        <li>Head Direction: @Model.Headdirection</li>
        <li>Area: @Model.Area</li>
        <li>Burial Number: @Model.Burialnumber</li>
        <li>Hair Color: @Model.Haircolor</li>
    </ul>

    <p>
        <h3>View More Details here: <a asp-controller="Home" asp-action="Details" asp-route-burialid="@Model.Id" class="btn-toolbar">Details</a></h3>
    </p>
</div>