@{
}

@model Burialmain


<div class="card card-outline-primary">
    <div class="bg-secondary-light p-1 container">
        <div class="float-left">
            <h4 class="font-weight-bold">ID: @Model.Id</h4>
        </div>
    </div>

    <ul id="info">
        <li>AgeAtDeath: @Model.Ageatdeath</li>
        <li>Sex: @Model.Sex</li>
        <li>Text: @Model.Text</li>
        <li>Head Direction: @Model.Headdirection</li>
        <li>Area: @Model.Area</li>
        <li>Burial Number: @Model.Burialnumber</li>
        <li>Hair Color: @Model.Haircolor</li>
    </ul>
    <a asp-action="Details" asp-controller="Home" asp-route-burialid="@Model.Id">Details</a>
</div>