@{
}

@model BurialViewModel
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.min.css" 
          integrity="sha512-ZYg+hQvLlM0W9C3P6vTpes5LmJ66G2EsroxDNzwD6qiulckldb29eD9I672HL2X+LH5nRhY1sQqZLJGB+aUUPg==" 
          crossorigin="anonymous" referrerpolicy="no-referrer" />
<!--Summary of all the things-->
<div class="container">
    <div class="row">
        <div class="col-3">
        <div id="categories" class="col-3">
            <form asp-action="Summary" method="get">
                <!--<div class="Form-group">
        <label>Filters:</label> <br/>
        <vc:Sex></vc:Sex> <br/>
        <vc:head-direction></vc:head-direction> <br/>
        <vc:burial-depth></vc:burial-depth> <br/>
        <vc:hair-color></vc:hair-color> <br/>
        <vc:age-at-death></vc:age-at-death> <br/>
        <vc:textile-color></vc:textile-color> <br/>
        <vc:textile-function></vc:textile-function> <br/>
        <br />
    </div>-->
    
                <div class="form-group">
                    <label for="id">Burial Id</label>
                    <select name="id" class="sel-width">
                        @if (ViewBag.SelectedBurialId == null)
                        {
                            <option value="" selected></option>
                        }

                        @foreach (var x in ViewBag.BurialId)
                        {
                            if (x == null && ViewBag.SelectedBurialId == "empty")
                            {
                                <option value="empty" selected>empty</option>
                            }
                            else if (x == null || x.Trim() == "")
                            {
                                <option value="empty">empty</option>
                            }
                            else if (x == ViewBag.SelectedBurialId)
                            {
                                <option value="@x" selected>@x</option>
                            }
                            else
                            {
                                <option value="@x">@x</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="sex">Sex</label>
                    <select name="sex" id="sex" class="sel-width">
                        @if (ViewBag.SelectedSex == null)
                        {
                            <option value="" selected></option>
                        }

                        @foreach (var x in ViewBag.Sex)
                        {
                            if (x == null && ViewBag.SelectedSex == "empty")
                            {
                                <option value="empty" selected>empty</option>
                            }
                            else if (x == null || x.Trim() == "")
                            {
                                <option value="empty">empty</option>
                            }
                            else if (x == ViewBag.SelectedSex)
                            {
                                <option value="@x" selected>@x</option>
                            }
                            else
                            {
                                <option value="@x">@x</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="headdirection">Head Direction</label>
                    <select name="headdirection" class="sel-width">
                        @if (ViewBag.SelectedHeadDirection == null)
                        {
                            <option value="" selected></option>
                        }

                        @foreach (var x in ViewBag.HeadDirection)
                        {
                            if (x == null && ViewBag.SelectedHeadDirection == "empty")
                            {
                                <option value="empty" selected>empty</option>
                            }
                            else if (x == null || x.Trim() == "")
                            {
                                <option value="empty">empty</option>
                            }
                            else if (x == ViewBag.SelectedHeadDirection)
                            {
                                <option value="@x" selected>@x</option>
                            }
                            else
                            {
                                <option value="@x">@x</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="burialdepth">Burial Depth</label>
                    <select name="burialdepth" class="sel-width">
                        @if (ViewBag.SelectedBurialDepth == null)
                        {
                            <option value="" selected></option>
                        }

                        @foreach (var x in ViewBag.BurialDepth)
                        {
                            if (x == null && ViewBag.SelectedBurialdepth == "empty")
                            {
                                <option value="empty" selected>empty</option>
                            }
                            else if (x == null || x.Trim() == "")
                            {
                                <option value="empty">empty</option>
                            }
                            else if (x == ViewBag.SelectedBurialDepth)
                            {
                                <option value="@x" selected>@x</option>
                            }
                            else
                            {
                                <option value="@x">@x</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="haircolor">Hair Color</label>
                    <select name="haircolor" class="sel-width">
                        @if (ViewBag.SelectedHairColor == null)
                        {
                            <option value="" selected></option>
                        }

                        @foreach (var x in ViewBag.HairColor)
                        {
                            if (x == null && ViewBag.SelectedHairColor == "empty")
                            {
                                <option value="empty" selected>empty</option>
                            }
                            else if (x == null || x.Trim() == "")
                            {
                                <option value="empty">empty</option>
                            }
                            else if (x == ViewBag.SelectedHairColor)
                            {
                                <option value="@x" selected>@x</option>
                            }
                            else
                            {
                                <option value="@x">@x</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="age">Age at Death</label>
                    <select name="age" class="sel-width">
                        @if (ViewBag.SelectedAgeAtDeath == null)
                        {
                            <option value="" selected></option>
                        }

                        @foreach (var x in ViewBag.AgeAtDeath)
                        {
                            if (x == null && ViewBag.SelectedAgeAtDeath == "empty")
                            {
                                <option value="empty" selected>empty</option>
                            }
                            else if (x == null || x.Trim() == "")
                            {
                                <option value="empty">empty</option>
                            }
                            else if (x == ViewBag.SelectedAgeAtDeath)
                            {
                                <option value="@x" selected>@x</option>
                            }
                            else
                            {
                                <option value="@x">@x</option>
                            }
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label for="textilefunction">Textile Function</label>
                    <select name="textilefunction" class="sel-width">
                        @if (ViewBag.SelectedTextileFunction == null)
                        {
                            <option value="" selected></option>
                        }

                        @foreach (var x in ViewBag.TextileFunction)
                        {
                            if (x == null && ViewBag.SelectedTextileFunction == "empty")
                            {
                                <option value="empty" selected>empty</option>
                            }
                            else if (x == null || x.Value.Trim() == "")
                            {
                                <option value="empty">empty</option>
                            }
                            else if (x == ViewBag.SelectedTextileFunction)
                            {
                                <option value="@x.Value" selected>@x.Value</option>
                            }
                            else
                            {
                                <option value="@x.Value">@x.Value</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="textilecolor">Textile Color</label>
                    <select name="textilecolor" class="sel-width">
                        @if (ViewBag.SelectedTextileColor == null)
                        {
                            <option value="" selected></option>
                        }

                        @foreach (var x in ViewBag.TextileColor)
                        {
                            if (x == null && ViewBag.SelectedTextileColor == "empty")
                            {
                                <option value="empty" selected>empty</option>
                            }
                            else if (x == null || x.Value == "")
                            {
                                <option value="empty">empty</option>
                            }
                            else if (x.Value == ViewBag.SelectedTextileFunction)
                            {
                                <option value="@x.Value" selected>@x.Value</option>
                            }
                            else
                            {
                                <option value="@x.Value">@x.Value</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="textilestructure">Textile Structure</label>
                    <select name="textilestructure" class="sel-width">
                        @if (ViewBag.SelectedTextileStructure == null)
                        {
                            <option value="" selected></option>
                        }

                        @foreach (var x in ViewBag.TextileStructure)
                        {
                            if (x == null && ViewBag.SelectedTextileStructure == "empty")
                            {
                                <option value="empty" selected>empty</option>
                            }
                            else if (x == null || x.Value == "")
                            {
                                <option value="empty">empty</option>
                            }
                            else if (x.Value == ViewBag.SelectedTextileStructure)
                            {
                                <option value="@x.Value" selected>@x.Value</option>
                            }
                            else
                            {
                                <option value="@x.Value">@x.Value</option>
                            }
                        }
                    </select>
                </div>
                <!-- ~~~~~~~~~~~~~~~~~~ Future home for Estimated structure when data is provided ~~~~~~~~~~~~~~~~~~ -->
                <!-- ~~~~~~~~~~~~~~~~~~ Find skeleton code for html in EstimatedstructureHTML.txt inside in the backend root folder ~~~~~~~~~~~~~~~~~~ -->
                <div class="form-group">
                    <label for="estimatestature">Estimate Stature</label>
                    <select name="estimatestature">
                        @if (ViewBag.SelectedEstimateStature == null)
                        {
                            <option value="" selected></option>
                        }

                        @foreach (var x in ViewBag.EstimateStature)
                        {
                            if (x == null && ViewBag.SelectedEstimateStature == "empty")
                            {
                                <option value="empty" selected>empty</option>
                            }
                            else if (x.Estimatestature.ToString() == null || x.Estimatestature.ToString().Trim() == "")
                            {
                                <option value="empty">empty</option>
                            }
                            else if (x.Estimatestature.ToString() == ViewBag.SelectedEstimateStature)
                            {
                                <option value="@x.Estimatestature" selected>@x.Estimatestature</option>
                            }
                            else
                            {
                                <option value="@x.Estimatestature">@x.Estimatestature</option>
                            }
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-success btn-sm" id="filter" name="filter">Search</button><br /><br>
                <a asp-controller="Home" asp-action="Summary" class="btn btn-danger btn-sm">Clear</a><br /><br />
            </form>
            
            </div>
            <div class="border border-dark w-100 p-3">
                <h4>Key:</h4>
                Hair Color:<br />
                A: Brown - Red<br />
                B: Brown - Dark Brown - Light Brown<br />
                D: Blonde<br />
                K: Black<br />
                R: Red - Red/Black<br />
                T: Tan<br />
                Y: Yellow<br /><br />

                Age At Death:<br />
                A: Adult<br />
                C: Child<br />
                I: Infant<br />
                N: Newborn<br /><br />

                Head Direction:<br />
                E: East<br />
                W: West<br />
                I: Inconclusive<br />
            </div>
            </div>
        <div class="col">
        <div class="col">
        @foreach(Burialmain b in Model.Burialmains)
        {
            <partial name="BurialSummary" model="b" />
        }

        <div page-model="@Model.PageInfo" page-action="Summary" page-class="btn"
             page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-classes-enabled="true"
             class="btn-group pull-right m-1"></div>

        </div>
            </div>
    </div>
</div>