@{
}

@model BurialViewModel
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.min.css" 
          integrity="sha512-ZYg+hQvLlM0W9C3P6vTpes5LmJ66G2EsroxDNzwD6qiulckldb29eD9I672HL2X+LH5nRhY1sQqZLJGB+aUUPg==" 
          crossorigin="anonymous" referrerpolicy="no-referrer" />

     
<div class="row m-1 p-1">
        <div id="categories" class="col-3">
            <form asp-action="Summary" method="get">
                <!--<div class="Form-group">
                    <label>Filters:</label> <br/>
                    <vc:Sex></vc:Sex> <br/>
                    <vc:head-direction></vc:head-direction> <br/>
                    <vc:burial-depth></vc:burial-depth> <br/>
                    <vc:hair-color></vc:hair-color> <br/>
                    <vc:age-at-death></vc:age-at-death> <br/>
                    <vc:textile-color></vc:textile-color> <br/>
                    <vc:textile-function></vc:textile-function> <br/>
                    <br />
                </div>-->
                 <div class="form-group">
                    <label for="id">Burial Id</label>
                    <select name="id">
                        <option selected hidden></option>

                        @foreach (var x in ViewBag.BurialId)
                        {

                            @if (x == ViewBag.SelectedBurialId)
                            {
                                <option value="@x" selected>@x</option>
                            }
                            else
                            {
                                <option value="@x">@x</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="sex">Sex</label>
                    <select name="sex">
                        <option selected hidden></option>

                        @foreach (var x in ViewBag.Sex)
                        {
                            @if (x == null)
                            {
                                @if (x == ViewBag.SelectedSex)
                                {
                                    <option value="x" selected>@x</option>
                                }
                                else
                                {
                                    <option value="@x">@x</option>
                                }
                            }
                            else
                            {
                                @if (x == ViewBag.SelectedSex)
                                {
                                    <option value="@x" selected>@x</option>
                                }
                                else
                                {
                                    <option value="@x">@x</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="headdirection">Head Direction</label>
                    <select name="headdirection">
                        <option selected hidden></option>

                        @foreach (var x in ViewBag.HeadDirection)
                        {
                            @if (x == ViewBag.SelectedHeadDirection)
                            {
                                <option value="@x" selected>@x</option>
                            }
                            else
                            {
                                <option value="@x">@x</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="burialdepth">Burial Depth</label>
                    <select name="burialdepth">

                        <option selected hidden></option>

                        @foreach (var x in ViewBag.BurialDepth)
                        {
                            @if (x == ViewBag.SelectedBurialDepth)
                            {
                                <option value="@x" selected>@x</option>
                            }
                            else
                            {
                                <option value="@x">@x</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="haircolor">Hair Color</label>
                    <select name="haircolor">
                        <option selected hidden></option>

                        @foreach (var x in ViewBag.HairColor)
                        {
                            @if (x == ViewBag.SelectedHairColor)
                            {
                                <option value="@x" selected>@x</option>
                            }
                            else
                            {
                                <option value="@x">@x</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="age">Age at Death</label>
                    <select name="age">
                        <option selected hidden></option>

                        @foreach (var x in ViewBag.AgeAtDeath)
                        {
                            @if (x == ViewBag.SelectedAgeAtDeath)
                            {
                                <option value="@x" selected>@x</option>
                            }
                            else
                            {
                                <option value="@x">@x</option>
                            }
                        }
                    </select>
                </div>
                
                
                <button type="submit" class="btn btn-success btn-sm" id="filter" name="filter">Search</button>
            </form>
        </div>

    <div class="col">
    @foreach(Burialmain b in Model.Burialmains)
    {
        <partial name="BurialSummary" model="b" />
    }

    <div page-model="@Model.PageInfo" page-action="Summary" page-class="btn"
         page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-classes-enabled="true"
         class="btn-group pull-right m-1"></div>

    </div>
</div>