@{

}

@model List<Burialmain>

<div>
    @foreach (var x in Model)
    {
        @x.Goods
        @x.Hair
        @x.Haircolor
        @x.Headdirection
        @x.BurialDepth
        @x.Photos
        @x.Sex
        @x.Text
    }

</div>